.square {
  aspect-ratio: 1;
  border: 0.5px solid darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  background-image: repeating-linear-gradient(
    -45deg,
    tomato 2px,
    tomato 4px,
    transparent 4px,
    transparent 8px
  );
}
